html,
body,
header {
    height: 100%;
}

html {
    margin-bottom: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}


/*edit materializecss framework*/

.btn {
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
}

.secondary-btn {
    color: white;
    background-color: rgba(115, 214, 231, 1);
}

.secondary-btn:hover {
    color: white;
    background-color: rgba(115, 214, 231, 1);
}

.card-panel {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.tabs .tab a {
    color: #a7a7a7;
}
.tabs .tab a:hover {
    color: #a7a7a7;
}
.tabs .tab a.active {
    color: rgba(115, 214, 231, 1);
}
.tabs .indicator {
    background-color: rgba(115, 214, 231, 1);
}

/*reusbale*/

.title {
    color: #384047;
    /*    #787f8c;*/
}

.caption {
    color: #4c5760;
}


/*typhography and font*/

p {
    font-size: 17px;
}


/*navbar*/

nav {
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

nav ul a {
    color: #4c5760;
}

nav ul a:hover {
    background-color: transparent;
    color: #384047;
}

.navbar-fixed .nav-wrapper .brand-logo img {
    width: 30%;
    padding: 5px;
}


/*end of navbar*/


/*make homepage responsive*/

.homepage {
    /*background-color: linear-gradient(to right, rgba(115, 214, 231, 1) 0%, rgba(59, 149, 227, 1) 100%);*/
    color: white;
    height: 100%;
    width: 100%;
    display: table;
    background: url(../img/bghomepage.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-color: rgba(115, 214, 231, 1);
}

.homepage-text {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    vertical-align: middle;
    display: table-cell;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*end homepage responsive*/


/*homepage content*/

.header {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}


/*.header-img {
    padding-top: 15px;
    padding-bottom: 15px;
}*/

.header-text {
    /* padding-bottom: 15px;*/
}


/*.chevron-down {
    padding-top: 20px;
}*/


/*end of homepage content*/


/*kompetisi*/

.kompetisi {
    background-color: #f4fafa;
    color: #4c4c4c;
}

.kompetisi a {
    color: rgba(115, 214, 231, 1);
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/*end of kompetisi*/


/*about*/

.about {
    background-color: white;
    color: #4c4c4c;
}


/*end of about*/


/*timeline*/

.timeline {
    background-color: white;
    color: #4c4c4c;
}


/*endo of timeline*/


/*organisasi*/

.organisasi {
    background-color: #f4fafa;
    position: relative;
}

.logo-organisasi {
    filter: grayscale(100%);
    cursor: pointer;
}


/*end of organisasi*/


/*last section*/

.last {
    background: url(../img/bghomepage.png) no-repeat center center;
    color: white;
    background-color: rgba(115, 214, 231, 1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    /*linear-gradient(to right,  0%, rgba(59, 149, 227, 1) 100%);*/
}


/*end of last section*/


/*social media*/

.social-media {
    position: relative;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    color: #f9fcff;
    padding: 10px;
    float: right;
}

@media screen and (max-width: 480px) {
    .social-media {
        float: none;
        justify-content: center;
    }
}

.social-media a {
    color: #e6e6e6;
    padding-right: 15px;
}

.social-media a:hover {
    color: #e6e6e6;
}

.social-media .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: border-radius .3s, background-color .5s;
    background-color: transparent;
    margin-right: 5px;
}

.social-media .social-wrapper:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.10);
    transition: border-radius .3s, background-color .3s;
}

.social-media .social-wrapper:hover a {
    color: white;
}

.social-media .social-wrapper a {
    padding: 20%;
}


/*end of social media*/


/*footer*/

footer {}


/*footer end*/


/* FAQ page*/

#FAQ {
    background-color: white;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.faq p {
    color: #384047;
}

.faq strong {
    color: #4c5760;
}

.title-faq {
    color: #808080;
}

.faq .row {
    margin-bottom: 0px;
}

.faq .collapsible-body {
    background-color: white;
    border-bottom: none;
    border-top: 1px solid #D4D5D6;
}

.faq .collapsible {
    border: solid 2px #D4D5D6;
    box-shadow: none;
}

.collapsible-header {
    border-bottom: none;
    position: relative;
    line-height: 150%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.text-full-faq p {
    font-size: 1.1rem;
}

#FAQ .zmdi-plus {
    display: inline;
    font-size: 15px;
    position: absolute;
    top: -15%;
    right: -4%;
    color: #727272;
}

.zmdi-show {
    display: inline;
}

.zmdi-hide {
    display: none;
}

#FAQ .zmdi-minus {
    display: none;
    font-size: 15px;
    position: absolute;
    top: -15%;
    right: -4%;
    color: #727272;
}


/*end of FAQ page